
@{
    ViewData["Title"] = "Error 404";
}

<div class="main-wrapper">
    <div class="main-contant">
        <!-- Error Page Start-->
        <div class="error-page">
            <div class="text">
                <h1>4<span class="th-cl">0</span>4</h1>
                <h6>Sorry! Page Not Found !</h6>
                <a class="button" asp-area="" asp-controller="Home" asp-action="Index">Go Home</a>
            </div>
        </div>
        <!-- Error Page End-->
    </div>
</div>