
@{
    ViewData["Title"] = "AboutUs";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="placetop">
    <div class="container">
        <h2 class="blog-heading"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; About</h2>
        <hr />
        <section id="aboutus" class="about-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 about_para">
                        <div class="section-title ">v
                            <h2>Project purpose</h2>
                            <div class="title-separator-outer ">
                                <div class="title-separator bg-primary style-liner"></div>
                            </div>
                        </div>
                        <p>Project developed in the context of training at CINEL</p>
                        <p>Course: Technician Specialist in Technologies and Programming of Information Systems </p>
                        <p>Module: Acesso móvel a sistemas de informação</p>
                        <ul class="aboutfeature">
                            <li><i class="fa fa-mail-forward"></i>Xamarin MVVM</li>
                            <li><i class="fa fa-mail-forward"></i>.NET Core MVC</li>
                            <li><i class="fa fa-mail-forward"></i>.NET Web API</li>
                            <li><i class="fa fa-mail-forward"></i>Entity Framework Core</li>
                            <li><i class="fa fa-mail-forward"></i>JavaScript</li>
                            <li><i class="fa fa-mail-forward"></i>HTML5 / CSS3 </li>
                            <li><i class="fa fa-mail-forward"></i>Bootstrap</li>
                            <li><i class="fa fa-mail-forward"></i>Microsoft SQL Server</li>
                            <li><i class="fa fa-mail-forward"></i>Microsoft Azure</li>
                            <li><i class="fa fa-mail-forward"></i>Design pattern: Dependency injection</li>
                            <li><i class="fa fa-mail-forward"></i>Github</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12">

                        <div class="team text-center rounded p-3 py-4">
                            <img src="~/images/Pedro.png" style="width:160px; height:160px;" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="Card image cap">

                            <div class="content mt-3">
                                <h2 class="title mb-0">Pedro Domingos</h2>
                                <h4>.NET Developer</h4>
                            </div>
                            <div class="content mt-3">
                                <small class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</small>

                            </div>
                            <br />

                            <div class="container">
                                <div class="row justify-content-md-center">
                                    <div class="col col-lg-2">
                                        <a href="https://www.facebook.com/pedroasdomingos" target="_blank" class="fa fa-facebook"></a>
                                    </div>
                                    <div class="col-md-auto">
                                        <a href="https://www.linkedin.com/in/pedrodomingos25/" target="_blank" class="fa fa-linkedin"></a>
                                    </div>
                                    <div class="col col-lg-2">
                                        <a href="https://github.com/PedroASDomingos" target="_blank" class="fa fa-github"></a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>