
@{
    ViewData["Title"] = "NotAuthorized";
}

<div class="main-wrapper">
    <div class="main-contant">
        <!-- Error Page Start-->
        <div class="error-page">
            <div class="text">
                <h5>Not Authorized</h5>
                <h6>you need to register first to be able to access this area</h6>
                <a class="button" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </div>
        </div>
        <!-- Error Page End-->
    </div>
</div>