
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="main-wrapper">
    <div class="main-contant">
        <!-- Error Page Start-->
        <div class="error-page">
            <div class="text">
                <h6>Your password has been successfully changed!</h6>
                <a class="button" asp-area="" asp-controller="Account" asp-action="Login">Go Login</a>
            </div>
        </div>
        <!-- Error Page End-->
    </div>
</div>